$schema: 'https://json.schemastore.org/commitlintrc.json'
# Extend the conventional commit configuration
extends:
  - '@commitlint/config-conventional'
ignore:
  # Ignore the node_modules directory
  - node_modules/**
  # Ignore the .git directory
  - .git/**
  # Ignore the .github directory
  - .github/**
  # Ignore the .vscode directory
  - .vscode/**
  # Ignore the .idea directory
  - .idea/**
  # Ignore the .idx directory
  - .idx/**
  # Ignore the .vscode-test directory
  - .vscode-test/**
  # Ignore the lib directory
  - lib/**
  # Ignore the build directory
  - build/**
  # Ignore the scripts directory
  - scripts/**
  # Ignore the test directory
  - test/**
  # Ignore the docs directory
  - docs/**
  # Ignore the .tmp directory
  - .tmp/**
  # Ignore the .temp directory
  - .temp/**
  # Ignore the .cache directory
  - .cache/**
  # Ignore the dist directory
  - dist/**